{% extends "admin/object_history.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
/ <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
/ <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
/ <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
/ {% translate 'History' %}
</div>
{% endblock %}
